* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;

}

.card-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-bottom: 14.3em;
}



body {
    height: 100vh;
    background: #ffffff;
}

.container {
    display: flex;

}

.card {
    display: flex;
   flex-direction: column;
   height: 100%;
   position: relative;
    width: min-content;
    padding: 10px;
    margin: 0 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.114);
    transition: .4s ease;
}

.card:hover {
    transform: scale(1.02);
}

.card .card-image {
    position: relative;
    width: 240px;
    height: 360px;
    padding: 0 0px;
    border-radius: 12px;
    text-align: center;
    background: #ffffff;
}

.card .card-image img {
    width: 100%;
    transition: .4s ease;
    border-radius: 8px;
}

.card .card-content h3 {
    color: #222;
    font-size: 22px;
    margin-top: 20px;
}

.card .card-content p {
    color: #555;
    font-size: 18px;
    font-weight: 500;
    margin: 8px 0 22px;
    text-align: justify;
}

.card .card-content button {
    cursor: pointer;
    color: #fff;
    width: 100%;
    height: 50px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 10px;
    background: #00b17f;
}


@media (max-width: 1280px) {
    body {
        height: unset;
        padding: 30px 0;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container .card {
        margin: 20px;
    }
}